.icon-bar .facebook {
  color: #1877f2;
}
.icon-bar .instagram {
  color: #e4405f;
}
.icon-bar .linkdin {
  color: #0a66c2;
}
.icon-bar .github {
  color: #fff;
}
.icon-bar .twitter {
  color: #1da1f2;
}
