body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.facebook {
  color: #1877f2;
}
.instagram {
  color: #e4405f;
}
.linkdin {
  color: #0a66c2;
}
.github {
  color: #fff;
}
.twitter {
  color: #1da1f2;
}
.dribble {
  color: #EA4C89
}